{% from 'marcos.jinja' import textbox, getline, getheader, getlist %}
{% extends 'infopage.jinja' %}

{% block title %}
About CSS
{% endblock %}

{% block text %}
<div>
    <p>
        This is the second part of this tutorial,
        which will be primarily focused
        on styling the elements.
    </p>
    <br>
    <p>
        Cascading Style Sheets (CSS) is a stylesheet language used to describe the presentation of a document written in HTML.
        CSS describes how elements should be rendered on screen, on paper, in speech, or on other media.
        For example, CSS can be used to 
        alter the font, color, size, and spacing of your content, 
        split it into multiple columns, or add animations and other decorative features.
    </p>
    <br>
    <p>
        Remember the <code>class</code> and <code>id</code> elements that we introduced
        in HTML? Most of the time, they are used in cojunction with a corresponding
        CSS selector, which specifies the look of that element. More on that in the following articles.
    </p>
</div>
<div>
    {{getheader("References")}}
</div>
<div>
    {{getlist([
        ("MDN: Getting Started with CSS", "https://developer.mozilla.org/en-US/docs/Learn/CSS/First_steps/What_is_CSS"),
        ("MDN: CSS", "https://developer.mozilla.org/en-US/docs/Web/CSS")
        ])}}
</div>
{% endblock %}

{% block previous_link %} 
<a style="justify-self: end" href="html6.html">HTML: Miscellaneous</a>
{% endblock %}
{% block next_link %} 
<a style="justify-self: start" href="css2.html">CSS: Selectors</a>
{% endblock %}