{% from 'marcos.jinja' import textbox, getline, getheader, getlist %}
{% extends 'infopage.jinja' %}

{% block title %}
CSS: Properties
{% endblock %}

{% block text %}
<p>
    While selectors define which
    elements should the rules apply to,
    properties describe how the 
    element will be styled.
    We have already seen a few 
    properties in the previous examples,
    but there are many more. You 
    can read more on the CSS reference page on
    MDN.
</p>
<div>
    {{getheader("References")}}
</div>
<div>
    {{getlist([
        ("MDN: CSS Reference", "https://developer.mozilla.org/en-US/docs/Web/CSS/Reference")
        ])}}
</div>

{% endblock %}

{% block previous_link %} 
<a style="justify-self: end" href="css2.html">CSS: Selectors</a>
{% endblock %}
{% block next_link %} 
<a style="justify-self: start" href="css4.html">CSS: Specificity</a>
{% endblock %}