{% from 'marcos.jinja' import textbox, getline, getheader, getlist %}
{% extends 'infopage.jinja' %}

{% block title %}
CSS: Specificity
{% endblock %}

{% block text %}
<div>
<p>
    This article is a stub. It will be filled later on. For now, refer
    to the MDN.
</p>
</div>
<div>
    {{getheader("References")}}
</div>
<div>
    {{getlist([
        ("MDN: CSS Specificity", "https://developer.mozilla.org/en-US/docs/Web/CSS/Specificity")
        ])}}
</div>

{% endblock %}

{% block previous_link %} 
<a style="justify-self: end" href="css3.html">CSS: Properties</a>
{% endblock %}
{% block next_link %} 
<a style="justify-self: start" href="css5.html">CSS: Grid</a>
{% endblock %}