{% from 'marcos.jinja' import textbox, getline, getheader, getlist %}
{% extends 'infopage.jinja' %}

{% block title %}
CSS: Grid
{% endblock %}

{% block text %}
<div>
<p>
    This article is a stub. It will be filled later on. For now, refer
    to the MDN.
</p>
</div>

<div>
    {{getheader("References")}}
</div>
<div>
    {{getlist([
        ("MDN: CSS Grid Basics", "https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Basic_Concepts_of_Grid_Layout"),
        ("MDN: CSS Grid Box layout", "https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Box_Alignment_in_CSS_Grid_Layout")
        ])}}
</div>
{% endblock %}

{% block previous_link %} 
<a style="justify-self: end" href="css4.html">CSS: Specificity</a>
{% endblock %}
{% block next_link %} 
<a style="justify-self: start" href="css6.html">CSS: Keyframes</a>
{% endblock %}