{% from 'marcos.jinja' import textbox, getline, getheader, getlist %}
{% extends 'infopage.jinja' %}

{% block title %}
CSS: Grid
{% endblock %}

{% block text %}
<p>
    This is a website for all those
    who would like to learn more about
    how the web works, but have
    always been perplexed by the 
    the rapid pace at which it is
    advancing and the sheer 
    number of all the new
    technologies arriving to the 
    market every day.
</p>
{% endblock %}

{% block previous_link %} 
<a style="justify-self: end" href="css4.html">CSS: Specificity</a>
{% endblock %}
{% block next_link %} 
<a style="justify-self: start" href="css6.html">CSS: Keyframes</a>
{% endblock %}