{% from 'marcos.jinja' import textbox, getline, getheader, getlist %}
{% extends 'infopage.jinja' %}

{% block title %}
CSS: Keyframes
{% endblock %}

{% block text %}
<div>
    <p>
        This article is a stub. It will be filled later on. For now, refer
        to the MDN.
    </p>
</div>

<div>
    {{getheader("References")}}
</div>
<div>
    {{getlist([
        ("MDN: CSS Keyframes", "https://developer.mozilla.org/en-US/docs/Web/CSS/@keyframes")
        ])}}
</div>
{% endblock %}

{% block previous_link %} 
<a style="justify-self: end" href="css5.html">CSS: Grid</a>
{% endblock %}
{% block next_link %} 
<span style="justify-self: start;"></span>
{% endblock %}