{% from 'marcos.jinja' import textbox, getline, getheader, getlist %}
{% extends 'infopage.jinja' %}

{% block title %}
HTML: Miscellaneous
{% endblock %}

{% block text %}
<div>
<p>
    Note: since this article has
    no distinct topic attached,
    I may add or delete content
    from it as I see fit. 
</p>
<br>
<p>
    This article is dedicated
    to topics that haven't 
    been mentioned in the
    previous articles, but
    are important enough
    to be elaborated upon.
</p>
</div>
<div>
    {{getheader("Other useful elements")}}
</div>
<div>
    <p>
        Here are a few other useful
        elements in HTML:
        <ul>
            <li><code>&lt;h1&gt;, &lt;h2&gt; ... &lt;h6&gt;</code> - heading elements. Used for titles, paragraphs, section names</li>
            <li><code>&lt;code&gt;</code> - code element. Used to represent code snippets</li>
            <li><code>&lt;ul&gt;, &lt;ol&gt;</code> - Unordered and ordered lists. Consist of nested <code>&lt;li&gt;</code> blocks </li>
            <li><code>&lt;li&gt;</code> - List item element. Each entry of <code>&lt;ul&gt;</code> and <code>&lt;ol&gt;</code> must be nested in a <code>&lt;li&gt;</code></li>
            <li><code>&lt;footer&gt;</code> - Footer element, used for the content at the very bottom of the page</li>
        </ul>
    </p>
</div>
<div>
    {{getheader("Entity references")}}
</div>
<div>
    <p>
        If you looked at the
        source code, you might
        have noticed some 
        weird symbols where you
        would expect &lt; or &gt;.  
    </p>
    <br>
    <p>
        In HTML, the characters &lt;, &gt; , &quot; and &amp; are special characters. They are parts of the HTML syntax itself, 
        so how do you include one of these characters in your text? For example, if you really want to use an ampersand or less-than sign, 
        and not have it interpreted as code. 
        We have to use character references - special codes that represent characters, 
        and can be used in these exact circumstances. 
        Each character reference is started with an ampersand (&amp;), and ended by a semicolon (;).
        <code>lt(less-than)</code> preceded by an &amp; and succeded by a ; represents a &lt;
        Similarly, <code>gt</code> is used for &gt;, <code>quot</code> for &quot; and 
        <code>amp</code> for &amp;. In fact, each entity correspond to some number.
        Link to a full exhaustive list is available in the references.
    </p>
</div>
<div>
    {{getheader("References")}}
</div>
<div>
    {{getlist([
        ("MDN: Getting started with HTML", "https://developer.mozilla.org/en-US/docs/Learn/HTML/Introduction_to_HTML/Getting_started"),
        ("W3C: Entities", "https://www.w3schools.com/html/html_entities.asp"),
        ("List of all entities", "http://www.amp-what.com/"),
        ("HTML element reference", "https://www.w3schools.com/tags/default.asp")
        ])}}
</div>
{% endblock %}

{% block previous_link %} 
<a style="justify-self: end" href="html5.html">HTML: Iframes</a>
{% endblock %}
{% block next_link %} 
<a style="justify-self: start" href="css1.html">About CSS</a>
{% endblock %}