{% from 'marcos.jinja' import textbox, getline, getheader, getlist %}
{% extends 'infopage.jinja' %}

{% block title %}
About HTML
{% endblock %}

{% block text %}
<div>
    <p>
        First, let us begin by introducing the
        most important building block of the Web: HTML.
    </p>
    <br>
    <p>
        HTML, which stands for Hyper Text
        Markup Language is a markup language 
        (not to be confused with a programming language),
        which is used to explain the structure of the 
        page to the web browser. In order to distinguish
        between different types of content, different 
        building blocks are used, and these building
        blocks are called ELEMENTS.
    </p>
    <br>
    <p>
        It is very important to understand that HTML is 
        only responsible for the structure: it 
        describes the structure SEMANTICALLY, not
        graphically or logically. It wasn't always the
        case, but such restriction is the only
        feasible solution to avoid intersections
        between HTML and other adjacent technologies. 
    </p>
</div>
<div>
    {{getheader("Brief history")}}
</div>
<div>
    <p>
        HTML was created in 1989 by Tim Berners-Lee,
        when he was working at CERN, as a way to
        structure and standardize content on the
        internet. The first publicly available
        mention of HTML was in a document called 
        <a href="http://info.cern.ch/hypertext/WWW/MarkUp/Tags.html">"HTML tags"</a>.
        It describes the first 18 elements, comprising the initial, relatively simple design of HTML.
        Later, however, when the Internet became more and more popular,
        a conflict emerged: the creator of HTML was 
        unsatisfied with the direction that commercial 
        applications of HTML were taking it, and wanted
        a complete revamp (see XHTML for more), while
        commercial users preferred practical applications
        over rigor, chosing not to make any sharp
        turns and maintain backwards-compatibility and
        uniformity. They also established their own
        working group, known as WHATWG, which was 
        resposible for development of HTML5. 
        Although until recently, W3C was still
        maintaining the oficial standard.
    </p>
    <br>
    <p>
        The design principles of HTML is a 
        complicated topic in general, but
        if you wish to learn more, you 
        can do so
        <a href="https://www.w3.org/TR/html-design-principles/">here</a>. 
        For our current purposes, we will focus more on the
        practical side.
    </p>
</div>
<div>
    {{getheader("References")}}
</div>
<div>
    {{getlist([
        ("MDN: Getting started with HTML", "https://developer.mozilla.org/en-US/docs/Learn/HTML/Introduction_to_HTML/Getting_started"),
        ("Wikipedia", "https://en.wikipedia.org/wiki/HTML"),
        ("HTML Living standard", "https://html.spec.whatwg.org/multipage/"),
        ("HTML Design principles", "https://www.w3.org/TR/html-design-principles/")
        ])}}
</div>
{% endblock %}

{% block previous_link %} 
<span style="justify-self: end" ></span>
{% endblock %}
{% block next_link %} 
<a style="justify-self: start" href="html2.html">HTML: Structure</a>
{% endblock %}